Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  performance-*,
  bugprone-*,
  -readability-magic-numbers,
  -readability-identifier-length
WarningsAsErrors: "*"
HeaderFilterRegex: "src/.*"
